<img src="https://shwetkm.github.io/upxlogo.png"></img>

# Python Advanced - Data Science Foundation

**SET THE WORKING DIRECTORY SO THAT WE DO NOT HAVE TO THINK ABOUT PATH PROBLEMS**

Please ensure all your folder names <font color='red'><b>do not have a space & use forward slash (/)</b></font>

In [56]:
your_local_path="C:/Users/tejks/Desktop/ML/practice/"

In [57]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [58]:
import pandas as pd #this will import pandas into your workspace

In [59]:
years = [90, 91, 92, 93, 94, 95]
f1 = {90:8, 91:9, 92:7, 93:8, 94:9, 95:11}
firm1 = pd.Series(f1,index=years)
print(firm1)
f2 = {90:14,92:9, 93:13, 94:5}
firm2 = pd.Series(f2,index=years)
print(firm2)
f3 = {93:10, 94:12, 95: 13}
firm3 = pd.Series(f3,index=years)
print(firm3)
df1 = pd.DataFrame(columns=['Firm1','Firm2','Firm3'],index=years)
df1
df1.Firm1 = firm1
df1.Firm2 = firm2
df1.Firm3 = firm3
df1

90     8
91     9
92     7
93     8
94     9
95    11
dtype: int64
90    14.0
91     NaN
92     9.0
93    13.0
94     5.0
95     NaN
dtype: float64
90     NaN
91     NaN
92     NaN
93    10.0
94    12.0
95    13.0
dtype: float64

    Firm1  Firm2  Firm3
90      8   14.0    NaN
91      9    NaN    NaN
92      7    9.0    NaN
93      8   13.0   10.0
94      9    5.0   12.0
95     11    NaN   13.0

In [65]:
years = [1988, 1989, 1990, 1991, 1992, 1993, 1994]
f1 = {1990:8, 1992:11}
firm1 = pd.Series(f1,index=years)
firm1
f2 = {1990:5,1992:3}
firm2 = pd.Series(f2,index=years)
firm2
f3 = {1990:4, 1992:2}
firm3 = pd.Series(f3,index=years)
firm3
df9 = pd.DataFrame(columns=['Firm1','Firm2','Firm3'],index=years)
df9
df9.Firm1 = firm1
df9.Firm2 = firm2
df9.Firm3 = firm3
print (df9)
#print (df9.fillna(method='bfill'))
print (df9.interpolate())
print(df9.interpolate().fillna(method='bfill'))

      Firm1  Firm2  Firm3
1988    NaN    NaN    NaN
1989    NaN    NaN    NaN
1990    8.0    5.0    4.0
1991    NaN    NaN    NaN
1992   11.0    3.0    2.0
1993    NaN    NaN    NaN
1994    NaN    NaN    NaN
      Firm1  Firm2  Firm3
1988    NaN    NaN    NaN
1989    NaN    NaN    NaN
1990    8.0    5.0    4.0
1991    9.5    4.0    3.0
1992   11.0    3.0    2.0
1993   11.0    3.0    2.0
1994   11.0    3.0    2.0
      Firm1  Firm2  Firm3
1988    8.0    5.0    4.0
1989    8.0    5.0    4.0
1990    8.0    5.0    4.0
1991    9.5    4.0    3.0
1992   11.0    3.0    2.0
1993   11.0    3.0    2.0
1994   11.0    3.0    2.0

You can pass a number of data structures to DataFrame such as a ndarray, lists, dict, Series, and another DataFrame. You can also reindex to confirm to data to a new index. Reindexing is a powerful feature that allows you to access data in a number of different ways, and also to confirm data to some new time series or other index.

In [66]:
print (df1)
reindexdf1 = df1.reindex([88,89,90,91,92,93,94,95,96,97,98])
reindexdf1

    Firm1  Firm2  Firm3
90      8   14.0    NaN
91      9    NaN    NaN
92      7    9.0    NaN
93      8   13.0   10.0
94      9    5.0   12.0
95     11    NaN   13.0

    Firm1  Firm2  Firm3
88    NaN    NaN    NaN
89    NaN    NaN    NaN
90    8.0   14.0    NaN
91    9.0    NaN    NaN
92    7.0    9.0    NaN
93    8.0   13.0   10.0
94    9.0    5.0   12.0
95   11.0    NaN   13.0
96    NaN    NaN    NaN
97    NaN    NaN    NaN
98    NaN    NaN    NaN

In [67]:
print(df9)
reindexdf9 = df9.reindex(np.arange(1988,1998))
reindexdf9

      Firm1  Firm2  Firm3
1988    NaN    NaN    NaN
1989    NaN    NaN    NaN
1990    8.0    5.0    4.0
1991    NaN    NaN    NaN
1992   11.0    3.0    2.0
1993    NaN    NaN    NaN
1994    NaN    NaN    NaN

      Firm1  Firm2  Firm3
1988    NaN    NaN    NaN
1989    NaN    NaN    NaN
1990    8.0    5.0    4.0
1991    NaN    NaN    NaN
1992   11.0    3.0    2.0
1993    NaN    NaN    NaN
1994    NaN    NaN    NaN
1995    NaN    NaN    NaN
1996    NaN    NaN    NaN
1997    NaN    NaN    NaN

In [68]:
years1 = [90, 91, 92, 93, 94, 95]
f4 = {90:8, 91:9, 92:7, 93:8, 94:9, 95:11}
firm4 = pd.Series(f4,index=years1)
f5 = {90:14,91:12, 92:9, 93:13, 94:5, 95:8}
firm5 = pd.Series(f5,index=years1)
f6 = {90:8, 91: 9, 92:9,93:10, 94:12, 95: 13}
firm6 = pd.Series(f6,index=years1)
df2 = pd.DataFrame(columns=['Firm1','Firm2','Firm3'],index=years1)
df2.Firm1 = firm4
df2.Firm2 = firm5
df2.Firm3 = firm6
df2

    Firm1  Firm2  Firm3
90      8     14      8
91      9     12      9
92      7      9      9
93      8     13     10
94      9      5     12
95     11      8     13

In [69]:
reindexdf2 = df2.reindex([88,89,90,91,92,93,94,95,96,97,98],fill_value=0)
reindexdf2

    Firm1  Firm2  Firm3
88      0      0      0
89      0      0      0
90      8     14      8
91      9     12      9
92      7      9      9
93      8     13     10
94      9      5     12
95     11      8     13
96      0      0      0
97      0      0      0
98      0      0      0

You can use NumPy functions inside DataFrame objects.

In [77]:
# Generate random sample from a standard normal distribution
np.random.seed(2345) # what is this doing?
dataframe = pd.DataFrame(np.random.randn(3,3),columns=['one','two','three'])
dataframe

# Try tab for the other distributions
#np.random.

        one       two     three
0 -0.951299  1.768772 -1.141827
1  0.710755  0.510951  1.149029
2 -0.538460 -0.736645 -0.075996

In [79]:
dataframe=np.abs(dataframe)
dataframe

        one       two     three
0  0.951299  1.768772  1.141827
1  0.710755  0.510951  1.149029
2  0.538460  0.736645  0.075996

In [78]:
np.random.seed(2345)
dataframe = pd.DataFrame(np.random.randn(3,3),columns=['one','two','three'])
dataframe

        one       two     three
0 -0.951299  1.768772 -1.141827
1  0.710755  0.510951  1.149029
2 -0.538460 -0.736645 -0.075996

In [81]:
dataframe.sort_values(by='two')

        one       two     three
1  0.710755  0.510951  1.149029
2  0.538460  0.736645  0.075996
0  0.951299  1.768772  1.141827

**Hierarchical Indexing**

Hierarchical indexing allows you to have <b>index on an index (multiple index)</b>. It is an important feature of pandas using which you can <b>select subsets of data and perform independent analyses</b> on them. For example, suppose you have <b>firm prices data and the data is indexed by firm name</b>. On top of that, you can <b>index firms by industry</b>. Thus, industry becomes an index on top of firms. You can then perform analyses either on individual firm, or on group of firms in an industry, or on the whole dataset.

In [106]:
import numpy as np
import pandas as pd
h_i_data = pd.Series(np.random.randn(10),index=[['Ind1','Ind1','Ind1','Ind1','Ind2','Ind2','Ind2','Ind3','Ind3','Ind3'],
                                              [1,2,3,4,1,2,3,1,2,3]])
h_i_data

Ind1  1    0.848818
      2    0.649783
      3   -0.571212
      4   -0.914158
Ind2  1   -0.123520
      2    0.281634
      3    0.795612
Ind3  1    0.179394
      2    1.202007
      3    0.371815
dtype: float64

In [107]:
h_i_data['Ind3']

1    0.179394
2    1.202007
3    0.371815
dtype: float64

In [108]:
h_i_data['Ind1':'Ind2']

Ind1  1    0.848818
      2    0.649783
      3   -0.571212
      4   -0.914158
Ind2  1   -0.123520
      2    0.281634
      3    0.795612
dtype: float64

In [109]:
h_i_data[['Ind1','Ind3']]

Ind1  1    0.848818
      2    0.649783
      3   -0.571212
      4   -0.914158
Ind3  1    0.179394
      2    1.202007
      3    0.371815
dtype: float64

In [110]:
h_i_data[:,3]

Ind1   -0.571212
Ind2    0.795612
Ind3    0.371815
dtype: float64

In [111]:
h_i_data[:,4]

Ind1   -0.914158
dtype: float64

In [112]:
print (h_i_data)

Ind1  1    0.848818
      2    0.649783
      3   -0.571212
      4   -0.914158
Ind2  1   -0.123520
      2    0.281634
      3    0.795612
Ind3  1    0.179394
      2    1.202007
      3    0.371815
dtype: float64

In [113]:
print (h_i_data)
h_i_data.unstack(level=0) # pivot an index

Ind1  1    0.848818
      2    0.649783
      3   -0.571212
      4   -0.914158
Ind2  1   -0.123520
      2    0.281634
      3    0.795612
Ind3  1    0.179394
      2    1.202007
      3    0.371815
dtype: float64

       Ind1      Ind2      Ind3
1  0.848818 -0.123520  0.179394
2  0.649783  0.281634  1.202007
3 -0.571212  0.795612  0.371815
4 -0.914158       NaN       NaN

In [116]:
h_i_data.unstack()

             1         2         3         4
Ind1  0.848818  0.649783 -0.571212 -0.914158
Ind2 -0.123520  0.281634  0.795612       NaN
Ind3  0.179394  1.202007  0.371815       NaN

In [114]:
h_i_data.unstack(level=1) # pivot an index

             1         2         3         4
Ind1  0.848818  0.649783 -0.571212 -0.914158
Ind2 -0.123520  0.281634  0.795612       NaN
Ind3  0.179394  1.202007  0.371815       NaN

In [117]:
h_i_data.sum()

2.7201735056011405

In [118]:
h_i_data

Ind1  1    0.848818
      2    0.649783
      3   -0.571212
      4   -0.914158
Ind2  1   -0.123520
      2    0.281634
      3    0.795612
Ind3  1    0.179394
      2    1.202007
      3    0.371815
dtype: float64

In [119]:
h_i_data.sum(level=1)

1    0.904692
2    2.133424
3    0.596216
4   -0.914158
dtype: float64

In [120]:
h_i_data.sum(level=0)

Ind1    0.013231
Ind2    0.953726
Ind3    1.753217
dtype: float64

In [ ]:
h_i_data

**IO in pandas**

In this section, we will focus on I/O from text files, csv, excel, and sql files as well as getting data from web such as Yahoo! Finance. Using functions in pandas, you can read data as a DataFrame object. 

**Reading a csv file**

In [92]:
roedatacsv = pd.read_csv(your_local_path+'roedata_Sc.csv')
#roedatacsv
roedatacsv.head(10)

  Industry Name,Number of firms,ROE
0             Advertising,65,16.51%
1       Aerospace/Defense,95,21.60%
2           Air Transport,25,42.68%
3                 Apparel,70,17.87%
4            Auto & Truck,26,22.05%
5              Auto Parts,75,17.54%
6                     Bank,7,15.03%
7        Banks (Regional),721,9.52%
8               Beverage ,47,27.62%
9    Beverage (Alcoholic),19,18.28%

In [96]:
location_df = roedatacsv['Industry Name,Number of firms,ROE'].apply(lambda x: pd.Series(x.split(',')))
#location_df = location_df.Dataframe(columns=['Industry Name','Number of firms','ROE'])
#df1 = location_df.Dataframe(columns=['Firm1','Firm2','Firm3'])
location_df.columns = ['Industry Name','Number of firms','ROE']
location_df['Industry Name']

0                             Advertising
1                       Aerospace/Defense
2                           Air Transport
3                                 Apparel
4                            Auto & Truck
5                              Auto Parts
6                                    Bank
7                        Banks (Regional)
8                               Beverage
9                    Beverage (Alcoholic)
10                          Biotechnology
11                           Broadcasting
12         Brokerage & Investment Banking
13                     Building Materials
14           Business & Consumer Services
15                               Cable TV
16                       Chemical (Basic)
17                 Chemical (Diversified)
18                   Chemical (Specialty)
19                  Coal & Related Energy
20                      Computer Services
21                      Computer Software
22                  Computers/Peripherals
23                           Construction
24                            Diversified
25                   Educational Services
26                   Electrical Equipment
27                            Electronics
28        Electronics (Consumer & Office)
29                            Engineering
                     ...
67                               Railroad
68              Real Estate (Development)
69      Real Estate (General/Diversified)
70    Real Estate (Operations & Services)
71                             Recreation
72                            Reinsurance
73                             Restaurant
74                    Retail (Automotive)
75               Retail (Building Supply)
76                  Retail (Distributors)
77                       Retail (General)
78              Retail (Grocery and Food)
79                      Retail (Internet)
80                 Retail (Special Lines)
81                          Rubber& Tires
82                          Semiconductor
83                    Semiconductor Equip
84                  Shipbuilding & Marine
85                                   Shoe
86                                  Steel
87                     Telecom (Wireless)
88                     Telecom. Equipment
89                      Telecom. Services
90                                 Thrift
91                                Tobacco
92                         Transportation
93                               Trucking
94                      Utility (General)
95                        Utility (Water)
96                           Total Market
Name: Industry Name, Length: 97, dtype: object

If the file does not have a header, then you can either let pandas assign default headers or you can specify custom headers. If you want industry name to be the index of DataFrame, you can achieve that.

In [98]:
saicsv = pd.read_csv(your_local_path+'roedata.csv',index_col = 'Industry Name' )
saicsv['Industry Name']

KeyError: 'Industry Name'

In [87]:
roedatacsv = pd.read_csv(your_local_path+'roedata.csv', index_col = 'Industry Name' )
roedatacsv['Industry Name']

KeyError: 'Industry Name'

In [89]:
roedatacsv = pd.read_csv(your_local_path+'roedata.csv', usecols = ['Industry Name','ROE'] )
roedatacsv # usecols is used to selectively get the columns that we require

                          Industry Name      ROE
0                           Advertising   16.51%
1                     Aerospace/Defense   21.60%
2                         Air Transport   42.68%
3                               Apparel   17.87%
4                          Auto & Truck   22.05%
5                            Auto Parts   17.54%
6                                  Bank   15.03%
7                      Banks (Regional)    9.52%
8                             Beverage    27.62%
9                  Beverage (Alcoholic)   18.28%
10                        Biotechnology    6.77%
11                         Broadcasting   74.10%
12       Brokerage & Investment Banking    9.25%
13                   Building Materials    6.78%
14         Business & Consumer Services   12.48%
15                             Cable TV   26.62%
16                     Chemical (Basic)    8.80%
17               Chemical (Diversified)   24.33%
18                 Chemical (Specialty)   22.10%
19                Coal & Related Energy  -14.66%
20                    Computer Services   39.46%
21                    Computer Software   21.53%
22                Computers/Peripherals   24.55%
23                         Construction    3.62%
24                          Diversified   13.06%
25                 Educational Services   -0.13%
26                 Electrical Equipment   13.67%
27                          Electronics    7.98%
28      Electronics (Consumer & Office)   25.66%
29                          Engineering    7.61%
..                                  ...      ...
67                             Railroad   19.85%
68            Real Estate (Development)   -4.29%
69    Real Estate (General/Diversified)    1.02%
70  Real Estate (Operations & Services)   19.84%
71                           Recreation   18.03%
72                          Reinsurance    6.05%
73                           Restaurant   27.46%
74                  Retail (Automotive)   30.79%
75             Retail (Building Supply)   23.12%
76                Retail (Distributors)   12.92%
77                     Retail (General)   17.68%
78            Retail (Grocery and Food)   10.91%
79                    Retail (Internet)   18.36%
80               Retail (Special Lines)   17.29%
81                        Rubber& Tires   45.41%
82                        Semiconductor   13.14%
83                  Semiconductor Equip   -1.21%
84                Shipbuilding & Marine    0.37%
85                                 Shoe   24.27%
86                                Steel   -6.67%
87                   Telecom (Wireless)  -15.63%
88                   Telecom. Equipment   15.67%
89                    Telecom. Services    5.78%
90                               Thrift  -79.47%
91                              Tobacco  214.71%
92                       Transportation   14.75%
93                             Trucking   16.01%
94                    Utility (General)    7.34%
95                      Utility (Water)    9.95%
96                         Total Market   15.68%

[97 rows x 2 columns]

In [90]:
# Import only selected rows
roedatacsv = pd.read_csv(your_local_path+'roedata.csv',nrows=50)
roedatacsv

                             Industry Name  Number of firms      ROE
0                              Advertising               65   16.51%
1                        Aerospace/Defense               95   21.60%
2                            Air Transport               25   42.68%
3                                  Apparel               70   17.87%
4                             Auto & Truck               26   22.05%
5                               Auto Parts               75   17.54%
6                                     Bank                7   15.03%
7                         Banks (Regional)              721    9.52%
8                                Beverage                47   27.62%
9                     Beverage (Alcoholic)               19   18.28%
10                           Biotechnology              349    6.77%
11                            Broadcasting               30   74.10%
12          Brokerage & Investment Banking               49    9.25%
13                      Building Materials               37    6.78%
14            Business & Consumer Services              179   12.48%
15                                Cable TV               16   26.62%
16                        Chemical (Basic)               47    8.80%
17                  Chemical (Diversified)               10   24.33%
18                    Chemical (Specialty)              100   22.10%
19                   Coal & Related Energy               45  -14.66%
20                       Computer Services              129   39.46%
21                       Computer Software              273   21.53%
22                   Computers/Peripherals               66   24.55%
23                            Construction               18    3.62%
24                             Diversified               20   13.06%
25                    Educational Services               40   -0.13%
26                    Electrical Equipment              135   13.67%
27                             Electronics              191    7.98%
28         Electronics (Consumer & Office)               26   25.66%
29                             Engineering               56    7.61%
30                           Entertainment               85   17.45%
31          Environmental & Waste Services              108    8.28%
32                     Farming/Agriculture               29    4.82%
33                         Financial Svcs.               76   15.50%
34  Financial Svcs. (Non-bank & Insurance)               17    6.45%
35                         Food Processing               97   15.94%
36                        Food Wholesalers               18   17.74%
37                   Furn/Home Furnishings               36   12.99%
38                    Healthcare Equipment              193   11.87%
39                   Healthcare Facilities               47   26.29%
40                     Healthcare Products               58    5.52%
41                     Healthcare Services              126   13.14%
42    Heathcare Information and Technology              125    9.45%
43                      Heavy Construction               46   22.00%
44                            Homebuilding               32   32.64%
45                            Hotel/Gaming               89    4.50%
46                      Household Products              139   21.68%
47                    Information Services               71   22.24%
48                     Insurance (General)               26    4.08%
49                        Insurance (Life)               27    6.08%

** Handling missing values**

Some types of missing values are automatically identified by pandas as NaN while importing the data. Those types are NA, NULL, -1.#IND. Additionally, you can also specify a list of missing values.

In [99]:
roemissing = pd.read_csv(your_local_path+'roemissing.csv')
roemissing

                          Industry Name Number of firms        ROE
0                           Advertising              65     16.51%
1                     Aerospace/Defense              95     21.60%
2                         Air Transport              25     42.68%
3                               Apparel              70     17.87%
4                          Auto & Truck              26     22.05%
5                            Auto Parts              75     17.54%
6                                  Bank               7     15.03%
7                      Banks (Regional)             NaN      9.52%
8                             Beverage               47        NaN
9                  Beverage (Alcoholic)              19     18.28%
10                        Biotechnology       10000.00%      6.77%
11                         Broadcasting              30     74.10%
12       Brokerage & Investment Banking              49      9.25%
13                   Building Materials              37      6.78%
14         Business & Consumer Services            -999     12.48%
15                             Cable TV              RP     26.62%
16                     Chemical (Basic)              47  10000.00%
17               Chemical (Diversified)              10    145.00%
18                 Chemical (Specialty)             100     22.10%
19                Coal & Related Energy              45    -14.66%
20                    Computer Services             129     39.46%
21                    Computer Software             273        NaN
22                Computers/Peripherals              66     24.55%
23                         Construction              18      3.62%
24                          Diversified              20     13.06%
25                 Educational Services              40     -0.13%
26                 Electrical Equipment             135     13.67%
27                          Electronics             191      7.98%
28      Electronics (Consumer & Office)              26     25.66%
29                          Engineering              56      7.61%
..                                  ...             ...        ...
67                             Railroad              10     19.85%
68            Real Estate (Development)              22     -4.29%
69    Real Estate (General/Diversified)              11      1.02%
70  Real Estate (Operations & Services)              47     19.84%
71                           Recreation              70     18.03%
72                          Reinsurance               3      6.05%
73                           Restaurant              84     27.46%
74                  Retail (Automotive)              30     30.79%
75             Retail (Building Supply)               7     23.12%
76                Retail (Distributors)              87     12.92%
77                     Retail (General)              21     17.68%
78            Retail (Grocery and Food)              21     10.91%
79                    Retail (Internet)              47     18.36%
80               Retail (Special Lines)             137     17.29%
81                        Rubber& Tires               4     45.41%
82                        Semiconductor             104     13.14%
83                  Semiconductor Equip              51     -1.21%
84                Shipbuilding & Marine              14      0.37%
85                                 Shoe              14     24.27%
86                                Steel              37     -6.67%
87                   Telecom (Wireless)              28    -15.63%
88                   Telecom. Equipment             131     15.67%
89                    Telecom. Services              82      5.78%
90                               Thrift             223    -79.47%
91                              Tobacco              12    214.71%
92                       Transportation              22     14.75%
93                             Trucking              28     16.01%
94                    Utility (General)              20      7.34%
95                      Utility (Water)              20      9.95%
96                         Total Market            7766     15.68%

[97 rows x 3 columns]

In [100]:
roemissing = pd.read_csv(your_local_path+'roemissing.csv', na_values=['NULL',-999, 'RP'] )
roemissing

                          Industry Name Number of firms        ROE
0                           Advertising              65     16.51%
1                     Aerospace/Defense              95     21.60%
2                         Air Transport              25     42.68%
3                               Apparel              70     17.87%
4                          Auto & Truck              26     22.05%
5                            Auto Parts              75     17.54%
6                                  Bank               7     15.03%
7                      Banks (Regional)             NaN      9.52%
8                             Beverage               47        NaN
9                  Beverage (Alcoholic)              19     18.28%
10                        Biotechnology       10000.00%      6.77%
11                         Broadcasting              30     74.10%
12       Brokerage & Investment Banking              49      9.25%
13                   Building Materials              37      6.78%
14         Business & Consumer Services             NaN     12.48%
15                             Cable TV             NaN     26.62%
16                     Chemical (Basic)              47  10000.00%
17               Chemical (Diversified)              10    145.00%
18                 Chemical (Specialty)             100     22.10%
19                Coal & Related Energy              45    -14.66%
20                    Computer Services             129     39.46%
21                    Computer Software             273        NaN
22                Computers/Peripherals              66     24.55%
23                         Construction              18      3.62%
24                          Diversified              20     13.06%
25                 Educational Services              40     -0.13%
26                 Electrical Equipment             135     13.67%
27                          Electronics             191      7.98%
28      Electronics (Consumer & Office)              26     25.66%
29                          Engineering              56      7.61%
..                                  ...             ...        ...
67                             Railroad              10     19.85%
68            Real Estate (Development)              22     -4.29%
69    Real Estate (General/Diversified)              11      1.02%
70  Real Estate (Operations & Services)              47     19.84%
71                           Recreation              70     18.03%
72                          Reinsurance               3      6.05%
73                           Restaurant              84     27.46%
74                  Retail (Automotive)              30     30.79%
75             Retail (Building Supply)               7     23.12%
76                Retail (Distributors)              87     12.92%
77                     Retail (General)              21     17.68%
78            Retail (Grocery and Food)              21     10.91%
79                    Retail (Internet)              47     18.36%
80               Retail (Special Lines)             137     17.29%
81                        Rubber& Tires               4     45.41%
82                        Semiconductor             104     13.14%
83                  Semiconductor Equip              51     -1.21%
84                Shipbuilding & Marine              14      0.37%
85                                 Shoe              14     24.27%
86                                Steel              37     -6.67%
87                   Telecom (Wireless)              28    -15.63%
88                   Telecom. Equipment             131     15.67%
89                    Telecom. Services              82      5.78%
90                               Thrift             223    -79.47%
91                              Tobacco              12    214.71%
92                       Transportation              22     14.75%
93                             Trucking              28     16.01%
94                    Utility (General)              20      7.34%
95                      Utility (Water)              20      9.95%
96                         Total Market            7766     15.68%

[97 rows x 3 columns]

In [102]:
roemissing = pd.read_csv(your_local_path+'roemissing.csv', na_values={'Number of firms':[-999,'10000.00%']} )
roemissing

                          Industry Name Number of firms        ROE
0                           Advertising              65     16.51%
1                     Aerospace/Defense              95     21.60%
2                         Air Transport              25     42.68%
3                               Apparel              70     17.87%
4                          Auto & Truck              26     22.05%
5                            Auto Parts              75     17.54%
6                                  Bank               7     15.03%
7                      Banks (Regional)             NaN      9.52%
8                             Beverage               47        NaN
9                  Beverage (Alcoholic)              19     18.28%
10                        Biotechnology             NaN      6.77%
11                         Broadcasting              30     74.10%
12       Brokerage & Investment Banking              49      9.25%
13                   Building Materials              37      6.78%
14         Business & Consumer Services             NaN     12.48%
15                             Cable TV              RP     26.62%
16                     Chemical (Basic)              47  10000.00%
17               Chemical (Diversified)              10    145.00%
18                 Chemical (Specialty)             100     22.10%
19                Coal & Related Energy              45    -14.66%
20                    Computer Services             129     39.46%
21                    Computer Software             273        NaN
22                Computers/Peripherals              66     24.55%
23                         Construction              18      3.62%
24                          Diversified              20     13.06%
25                 Educational Services              40     -0.13%
26                 Electrical Equipment             135     13.67%
27                          Electronics             191      7.98%
28      Electronics (Consumer & Office)              26     25.66%
29                          Engineering              56      7.61%
..                                  ...             ...        ...
67                             Railroad              10     19.85%
68            Real Estate (Development)              22     -4.29%
69    Real Estate (General/Diversified)              11      1.02%
70  Real Estate (Operations & Services)              47     19.84%
71                           Recreation              70     18.03%
72                          Reinsurance               3      6.05%
73                           Restaurant              84     27.46%
74                  Retail (Automotive)              30     30.79%
75             Retail (Building Supply)               7     23.12%
76                Retail (Distributors)              87     12.92%
77                     Retail (General)              21     17.68%
78            Retail (Grocery and Food)              21     10.91%
79                    Retail (Internet)              47     18.36%
80               Retail (Special Lines)             137     17.29%
81                        Rubber& Tires               4     45.41%
82                        Semiconductor             104     13.14%
83                  Semiconductor Equip              51     -1.21%
84                Shipbuilding & Marine              14      0.37%
85                                 Shoe              14     24.27%
86                                Steel              37     -6.67%
87                   Telecom (Wireless)              28    -15.63%
88                   Telecom. Equipment             131     15.67%
89                    Telecom. Services              82      5.78%
90                               Thrift             223    -79.47%
91                              Tobacco              12    214.71%
92                       Transportation              22     14.75%
93                             Trucking              28     16.01%
94                    Utility (General)              20      7.34%
95                      Utility (Water)              20      9.95%
96                         Total Market            7766     15.68%

[97 rows x 3 columns]

**Writing Data**

In [103]:
roedata = pd.read_csv(your_local_path+'roedata.csv')
roedata
roedata.to_csv(your_local_path+'roedatawrite99.csv')

In [105]:
roedata = pd.read_csv(your_local_path+'roedata.csv')
roedata.to_csv(your_local_path+'roedatawrite94.xls',  columns=['Industry Name','ROE'])

**Merging Data**

In [ ]:
import pandas as pd

In [ ]:
help(pd.read_csv)

In [121]:
left_frame = pd.DataFrame({'key': range(5), 
                           'left_value': ['a', 'b', 'c', 'd', 'e']})
right_frame = pd.DataFrame({'key': range(2, 7), 
                           'right_value': ['f', 'g', 'h', 'i', 'j']})
print(left_frame)
print()
print(right_frame)

   key left_value
0    0          a
1    1          b
2    2          c
3    3          d
4    4          e

   key right_value
0    2           f
1    3           g
2    4           h
3    5           i
4    6           j

In [139]:
middle_frame = pd.DataFrame({'key': range(4, 9), 
                           'right_value': ['z', 'x', 'y', 't', 's']})

In [137]:
pd.merge(right_frame, middle_frame)

Empty DataFrame
Columns: [key, right_value]
Index: []

In [126]:
pd.merge(left_frame, right_frame, on='key')

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h

In [129]:
pd.merge(left_frame, middle_frame, on='key', how='right')

   key left_value right_value
0    8        NaN           z
1    9        NaN           x
2   10        NaN           y
3   11        NaN           t
4   12        NaN           s

In [130]:
pd.merge(left_frame, right_frame, on='key', how='right')

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h
3    5        NaN           i
4    6        NaN           j

In [140]:
pd.merge(left_frame,middle_frame,right_frame)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [141]:
pd.merge(left_frame, right_frame, on='key', how='outer')

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c           f
3    3          d           g
4    4          e           h
5    5        NaN           i
6    6        NaN           j

In [142]:
pd.concat([left_frame, right_frame])

C:\Users\tejks\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c         NaN
3    3          d         NaN
4    4          e         NaN
0    2        NaN           f
1    3        NaN           g
2    4        NaN           h
3    5        NaN           i
4    6        NaN           j

In [143]:
pd.concat([left_frame, right_frame], axis=1)

   key left_value  key right_value
0    0          a    2           f
1    1          b    3           g
2    2          c    4           h
3    3          d    5           i
4    4          e    6           j